version: '2'

services:
 
  myapp:
    container_name: nodeapp
    working_dir: /app
    image: nodeapp
    build:
      context: .
      dockerfile: docker/Dockerfile
    # volumes:
    #   - .:/var/
    environment:
      - NODE_ENV=production
    ports:
      - "4000:4000"
    depends_on: 
      - mongodb
    networks:
      - nodeapp-network
      
  mongodb:
    container_name: mongodb
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - /wwwroot/data/db:/data/db
    networks:
      - nodeapp-network

networks:
  nodeapp-network:
    driver: bridge